.alert{
    font-style: italic;
    color:    red;
}

.panier {
    font-style: italic;
    color: rgba(255, 0, 200, 0.637);
}

.white{
    font-style: italic;
    color: white;
}


.tab {
    height : 80px;
    width : 80px;
}

fieldset {
    background-color: rgb(179, 175, 175, 0.4);
    border-radius: 5px;
    padding: 10px 50px 20px;
}

